.parent{
  background-color: #EEE;
  width:300px;
  height: 200px;
  padding: 20px;
  margin: 20px auto;
  margin-top: 50px;
  text-align: center;
  -webkit-transition:0.5s ;
  -moz-transition:0.5s ;
  -ms-transition:0.5s ;
  transition: 0.5s;
}
.parent:hover{
  margin-top: 20px;
}
.son{
  background-color: #AAA;
  width:fit-content;
  padding: 20px;
  margin: 20px auto;
  -webkit-transition:0.5s 1s margin;
  -moz-transition:0.5s 1s margin;
  -ms-transition:0.5s 1s margin;
  transition: 0.5s 1s margin;
}
.parent:hover .son{
  margin-top: 40px;
}