div{
  display: inline-block;
  position: relative;
  width:100px;
  height: 100px;
  counter-increment: counter;
  -webkit-border-radius: 50% ;
  -moz-border-radius: 50% ;
  -ms-border-radius: 50% ;
  border-radius: 50% ;
  border: 2px solid black;
  background-color: white;
  text-align: center;
  box-shadow: 5px 5px 0px 0px #e91e63,-5px -5px 0px 0px #2196f3;
}
div::before{
  content: "Element";
  position: absolute;
  margin-top: 40px;
  margin-left: -26px;
}
div::after{
  content: counter(counter);
  position: absolute;
  width: 20px;
  height: 20px;
  color: white;
  background-color: black;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  left: 40%;
  top: -10px;
  text-align: center;
}