.parent {
  width: 600px;
  height: 300px;
  padding: 5px;
  margin: 20px auto;
  display: flex;
  background-color: #eee;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
}
.parent div{
  width: 29%;
  padding: 10px;
  text-align: center;
  background-color: #f44336;
  color: white;
}