:root{
  --back: #AAA;
  --Margin: 10px;  
}
.page{
  background-color: #EEE;
}
ul{
  list-style: none;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--Margin);
}
.header .logo{
  background-color: var(--back);
  padding: 10px;
}
.header .links{
  background-color: var(--back);
  display: flex;
  margin-left: var(--Margin);
  flex: 1;
  justify-content: flex-end;
}
li{
  padding: 10px;
}
.main-area{
  display: flex;
  justify-content: space-between;
  height: 250px;
  margin: var(--Margin);
}
.main-area .content{
  background-color: var(--back);
  width: 75%;
}
.main-area .sidebar{
  background-color: var(--back);
  width: 25%;
  margin-left: var(--Margin);
}
.footer{
  display: flex;
  background-color: var(--back);
  justify-content: space-between;
  height: 20px;
  padding: 5px;
  margin: var(--Margin);
}