.parent{
  width: 600px;
  height: 300px;
  background-color: #eee;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.parent div{
  padding: 10px 0;
  height: 43%;
  width: calc(80% /4);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.one{
  background-color: orangered;
  align-self: flex-start;
  order: 2;
}
.two{
  background-color: green;
  align-self: flex-end;
  order: 3;
}
.three{
  background-color: brown;
  width: 3%;
  align-self: flex-start;
  order: 4;
}
.four{
  background-color:blueviolet;
  align-self: flex-end;
  order: 1;
}
