div{
  width: 100px;
  height: 100px;
  padding: 20px;
  margin: 20px auto;
  display: flex;
  background-color: #eee;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: #FF5722;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 5px 0 0 0 #FF5722, -5px 0 0 0  #03A9F4;
}