 div{
    display: block;
    padding: 10px;
    background-color: #eee;
    margin: 10px;
}
.One{
    border-left: 5px rgb(203, 24, 102) solid;
}
.Two{
    visibility: hidden;
}
.Three{
    border-left: 5px aqua solid;
}