div{
    display: inline-block;
    width: 400px;
    padding: 20px;
    background-color: rgb(238,238,238);
}
.one{
    word-break: break-word;
}
.two{
    white-space: nowrap;
    overflow: hidden;
}

.three{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
