div{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid black;
  border-left-color: transparent ;
  background-color: #EEE;
  transform: translate(-50%, -50%);
  animation-name: spin;
  animation-duration: 1s;
  animation-timing-function: linear ;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}
@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}