div{
    background-color: #eee;
    font-family: Arial, Helvetica, sans-serif;
    width: 400px;
    margin: 50px auto;
    padding: 10px;
    border: 2px solid ;
    border-color: brown cadetblue; 
    position: relative;
}
span{
    background-color: cadetblue;
    color: white;
    padding: 0 10px;
    position: absolute;
}
.top-left{
    top: -10px;
    right: 405px;
    border-right: 2px solid brown;
}
.bottom-left{
    bottom: -10px;
    right: 405px;
    border-right:2px solid brown;
}
.top-right{
    top: -10px;
    left: 405px;
    border-left: 2px solid brown;
}
.bottom-right{
    bottom: -10px;
    left: 405px;
    border-left:2px solid brown;
}