div{
  color: black;
  background-color: #EEE;
  text-align: center;
  padding: 20px;
  margin: 30px auto;
}
div::first-letter{
  content: "";
  background-color: Red;
  color: white;
  padding: 10px;
  margin-left: -100px;
  margin-top: 10px;
}
